# compiled output
/dist
/node_modules
/common/protobuf/node_modules
/sc/node_modules
/ganache_data
/build
/site
/artifacts
/cache
/contracts.json
/contracts-verify.json
/coverage.json
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output
/test-results

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
/.vscode
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# env settings
.env

# lock
yarn.lock

# Others
*.csv
.openzeppelin/*.json
/typechain-types